/* Chat input styles */

.container {
    background-color: var(--bg-primary);
    width: 100%;
    border-radius: var(--radius-main);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--bg-secondary);
}

.input {
    flex: 1;
    padding: 0.5rem 1rem;
    min-height: 3rem;
    max-height: 20rem;
    resize: none;
    border: none;
    outline: none;
}

.input::placeholder {
    color: var(--text-secondary);
}

.sendButton {
    background-color: var(--color-accent);
    color: var(--text-alternative);
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 4rem;
    height: 3rem;
    display: grid;
    place-items: center;
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
}

/* --- Desktop /tablet --- */

@media (min-width: 768px) {
    .container {
        width: 60%;
        max-width: 100rem;
        padding: 1rem 2rem;
    }

    .input {
        max-height: 30rem;
    }
}
