/* Chat area styles */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    height: 100%;
    overflow: visible;
}

.chatHeader {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    color: var(--text-secondary);
    border-bottom: 1px solid #a0a0a080;
    padding: 0.5rem 1rem;
}

.chatTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatContent {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 0;
    scrollbar-color: var(--text-secondary) transparent;
    scrollbar-width: thin;
}

.chatContent::-webkit-scrollbar {
    width: 10px;
}

.chatContent::-webkit-scrollbar-track {
    background: transparent;
}

.chatContent::-webkit-scrollbar-thumb {
    background-color: var(--text-secondary);
    border-radius: 999px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.chatInput {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.scrollToBottomButton {
    position: absolute;
    top: -5rem;
    cursor: pointer;
    background-color: var(--color-accent);
    color: var(--text-alternative);
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    opacity: 0.5;
}

.scrollToBottomButton:hover {
    opacity: 0.8;
}

.scrollToBottomIcon {
    width: 2rem;
    height: 2rem;
}

.panelIcon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
}

.errorModal {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    z-index: var(--z-index-modal);
}

/* --- Desktop /tablet --- */

@media (min-width: 768px) {
    .panelIcon {
        display: none;
    }

    .chatContent {
        width: 60%;
        max-width: 100rem;
        padding: 2rem 0;
    }

    .scrollToBottomIcon {
        width: 3rem;
        height: 3rem;
    }
}
