/* --- CSS Variables --- */

/* Import font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    /* --- Fonts --- */

    --font-main: 'Inter', sans-serif;

    /* --- Layout --- */

    --radius-button: 2.5rem;
    --radius-main: 2.5rem;

    /* --- Effects --- */

    --blur-glass: 10px;

    /* --- Text Colors --- */

    --text-primary: #000000;
    --text-secondary: #a0a0a0;
    --text-alternative: #ffffff;

    /* --- Backgrounds --- */

    --bg-primary: #ffffff;
    --bg-secondary: #f4f3f5;
    --bg-hover: #e0e0e0;
    --bg-hover-50: #e0e0e080;
    --bg-shimmer-primary: #cccccc80;
    --bg-shimmer-secondary: #e6e6e680;

    /* --- Status Colors --- */

    --color-error: #ff383c;
    --color-warning: #ffcc00;
    --color-success: #14b04c;

    /* --- Accent / Brand --- */

    --color-accent: #14b04c;

    /* --- Surfaces --- */

    --surface-glass: #d0d0d033;

    /* --- Z Index --- */

    --z-index-navbar: 1000;
    --z-index-chat-sidebar-options: 500;
    --z-index-chat-sidebar: 100;
    --z-index-modal: 10;
    --z-index-content: 1;

    /* --- Opacity ---- */

    --hover-opacity: 0.9;
}
